<h1 class="title animated jackInTheBox">{{title}}</h1>
<ul class="animated flipInX" *ngIf="mode=='list'">
  <p class="text-center" *ngIf="todo.length == 0"><small>Sem tarefas</small></p>
  <li *ngFor="let ToDo of todo">{{ ToDo.title }}
    <button (click)="remove(ToDo)"><i class="far fa-trash-alt"></i></button>
    <button *ngIf="!ToDo.done" (click)="markAsDone(ToDo)"><i class="far fa-check-circle"></i></button>
    <button *ngIf="ToDo.done" (click)="markAsuDoin(ToDo)"><i class="fas fa-check-circle"></i></button>
  </li>
</ul>

<div id="modal" *ngIf="mode=='add'" class="animated flipInX">
  <h1 class="text-center">Nova Tarefa</h1>
  <form [formGroup]="form">
    <label>Tarefa: </label>
    <input type="text" placeholder="Digite uma nova tarefa" maxlength="60" formControlName="title">
    <small class="danger" *ngIf="form.controls.title.invalid && !form.controls.title.pristine">Este campo deve conter
      entre 3 a 60
      digitos<br></small>
    <p class="text-center">
      <button class="button" [disabled]="form.invalid" (click)="add()"><i class="far fa-save"></i> Salvar</button>
    </p>
  </form>
</div>
<button class="add-button animated fadeInUp button" (click)="changeMode('add')" *ngIf="mode=='list'">
  <i class="fas fa-plus-circle"></i>
  NOVA TAREFA
</button>
<button class="add-button animated fadeInUp button" (click)="changeMode('list')" *ngIf="mode=='add'">
  <i class="fas fa-times"></i>
  CANCELAR
</button>
<!--<button (click)="alterarTexto()">Click Aqui!</button>-->